# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# All log files
*.log

# Environment Variables
.env.local

# Secret Key
secret_key.json
